pipeline/child_pipeline.json
{
	"name": "child_pipeline",
	"properties": {
		"activities": [
			{
				"name": "act_foreach_iterating_over_race_result",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.result_data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_set_season_year",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "season_year",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_set_round",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "round",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_copy_result_data_to_adlsgen2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_set_season_year",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "act_set_round",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_api",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(variables('season_year'),'/',variables('round'),'/','results.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_result_adlsgen2",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(variables('season_year'),'_',variables('round'))",
											"type": "Expression"
										},
										"DirectoryPath": {
											"value": "@concat('bronze/results/', string(utcNow('yyyyMMdd')) )",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"result_data": {
				"type": "array"
			}
		},
		"variables": {
			"season_year": {
				"type": "String"
			},
			"round": {
				"type": "String"
			},
			"season": {
				"type": "String"
			}
		},
		"annotations": []
	}
}