pipeline/PL_Ingest_API.json
{
	"name": "PL_Ingest_API",
	"properties": {
		"activities": [
			{
				"name": "act_copy_season_data_to_adlsgen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_lookup_insert_metadata_entry",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "act_set_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_http_api",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": "seasons.json?limit=100"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_formulaone_json",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "season"
						}
					}
				]
			},
			{
				"name": "act_lookup_season_api",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_copy_season_data_to_adlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('bronze/season/',string(utcNow('yyyyMMdd')))",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_formulaone_json",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@concat('')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_iterating_over_season",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_lookup_season_api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_lookup_season_api').output.value[0].MRData.Seasontable.Seasons",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_copy_race_data_to_adlsgen2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_api",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(item().season,'.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json2",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().season",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "act_lookup_race_api",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_iterating_over_season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('bronze/race/', string(utcNow('yyyyMMdd')))",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_formulaone_json",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@concat('')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_lookup_race_api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_lookup_race_api').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "child_pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"result_data": {
										"value": "@item().MRData.RaceTable.Races",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "act_set_start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_lookup_insert_metadata_entry",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_set_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "INSERT INTO \"Formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}', 'PL_ingest_api', 'season_api', 'In-Progress', '@{variables('start_time')}');\n\nINSERT INTO \"Formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}', 'PL_ingest_api', 'race_api', 'In-Progress', '@{variables('start_time')}');\n\nINSERT INTO \"Formulaone_audit\".job_metadata_table\n(job_id, job_name, task_name, status, start_time)\nVALUES('@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}', 'PL_ingest_api', 'result_api', 'In-Progress', '@{variables('start_time')}');\n\nSELECT job_id, job_name, task_name, status, start_time FROM \"Formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ProstgresSql_Data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_season_api_metadata_entry",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_copy_season_data_to_adlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"Formulaone_audit\".job_metadata_table \nset status = 'success',\nend_time = '@{utcNow('yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}' and task_name ='season_api';\n\nSELECT * FROM \"Formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ProstgresSql_Data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_race_api_metadata_entry",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_iterating_over_season",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"Formulaone_audit\".job_metadata_table \nset status = 'success',\nend_time = '@{utcNow('yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}' and task_name ='race_api';\n\nSELECT * FROM \"Formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ProstgresSql_Data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_result_api_metadata_entry",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"Formulaone_audit\".job_metadata_table \nset status = 'success',\nend_time = '@{utcNow('yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}' and task_name ='result_api';\n\nSELECT * FROM \"Formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ProstgresSql_Data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_result_api_metadata_entry_Fail",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Skipped",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"Formulaone_audit\".job_metadata_table \nset status = 'failed',\nend_time = '@{utcNow('yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}' and task_name ='result_api';\n\nSELECT * FROM \"Formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ProstgresSql_Data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_race_api_metadata_entry_Fail",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_iterating_over_season",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"Formulaone_audit\".job_metadata_table \nset status = 'failed',\nend_time = '@{utcNow('yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}' and task_name ='race_api';\n\nSELECT * FROM \"Formulaone_audit\".job_metadata_table;\n\nSELECT * FROM \"Formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ProstgresSql_Data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_lookup_update_season_api_metadata_entry_Fail",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_copy_season_data_to_adlsgen2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update \"Formulaone_audit\".job_metadata_table \nset status = 'failed',\nend_time = '@{utcNow('yyyy-MM-dd HH:mm:ss')}'\nwhere job_id ='@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}' and task_name ='season_api';\n\nSELECT * FROM \"Formulaone_audit\".job_metadata_table;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ProstgresSql_Data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"season_year": {
				"type": "String"
			},
			"round": {
				"type": "String"
			},
			"start_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "FormulaOne Project/Ingest pipeline"
		},
		"annotations": []
	}
}