pipeline/PL_Result_API_Ingest.json
{
	"name": "PL_Result_API_Ingest",
	"properties": {
		"activities": [
			{
				"name": "Act_Web_Result_API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1.json?limit=1150"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Act_Web_Result_API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Act_Web_Result_API').output.MRData.RaceTable.Races",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Act_set_Season_Year",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "season_year",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Act_set_round",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "round",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Act_Copy_Result_data_API_to_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Act_set_Season_Year",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Act_set_round",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_RestAPI_Source",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(variables('season_year'),'/',variables('round'),'/','results.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_result_adlsgen2",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(variables('season_year'),'_',variables('round'))",
											"type": "Expression"
										},
										"DirectoryPath": {
											"value": "@concat('bronze/results/',string(utcNow('yyyyMMdd')))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"season_year": {
				"type": "String"
			},
			"round": {
				"type": "String"
			}
		},
		"folder": {
			"name": "FormulaOne Project/Ingest pipeline"
		},
		"annotations": []
	}
}