pipeline/PL_Until_Activity.json
{
	"name": "PL_Until_Activity",
	"properties": {
		"activities": [
			{
				"name": "Until_Activity_to reach upto 10",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('VarX')),10)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set_Temp_Var_value",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Temp",
								"value": {
									"value": "@variables('VarX')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "add_tempvalue_in_ VarX_variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_Temp_Var_value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "VarX",
								"value": {
									"value": "@string(add(int(variables('Temp')),1))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"VarX": {
				"type": "String",
				"defaultValue": "1"
			},
			"Temp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Youtube Lecture Practice"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-28T10:52:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}