pipeline/test pipeline.json
{
	"name": "test pipeline",
	"properties": {
		"activities": [
			{
				"name": "act_set_start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_set_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@formatDateTime(variables('start_time'),'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_lookup_insert_metadata_entry",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_set_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "INSERT INTO \"Formulaone_audit\".job_metadata_table\r\n(job_id, job_name, task_name, status, start_time)\r\nVALUES('@{formatDateTime(variables('start_time'),'yyyyMMddHHmmss')}', 'PL_ingest_api', 'season_api', 'In-Progress', '@{variables('start_time')}');\r\n\r\nSELECT * FROM \"Formulaone_audit\".job_metadata_table;",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ProstgresSql_Data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"start_time": {
				"type": "String"
			},
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}